body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.neb-1 {
  float: left;
  padding: 20px;
  width: 45%;
  height: auto;
}

.neb-2 {
  float: right;
  padding: 20px;
  width: 40%;
  height: auto;
}
